#root {
  @include grid($cols: 48px 1fr, $just: null, $align: null);
}
main {
  overflow-x: hidden;
}

.container {
  width: 100%;
  padding: 0 16px;
  margin: auto;
}

@media (min-width: $sm) {
  .container {
    max-width: 500px;
  }
}

@media (min-width: $md) {
  #root {
    grid-template-columns: 232px 1fr;
  }
  .container {
    max-width: 560px;
  }
}

@media (min-width: $lg) {
  .container {
    max-width: 600px;
  }
}

@media (min-width: $xl) {
  .container {
    max-width: 760px;
  }
}
