#root {
  @include grid($cols: 48px 1fr, $just: null, $align: null);
}
main {
  position: relative;
}

.container {
  width: 100%;
  padding: 0 8px;
  margin: auto;
}

@media (min-width: $sm) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: $md) {
  #root {
    grid-template-columns: 232px 1fr;
  }
  .container {
    max-width: 700px;
  }
}

@media (min-width: $lg) {
  #root {
    grid-template-columns: 340px 1fr;
  }
  // .container {
  //   max-width: 600px;
  // }
}

// @media (min-width: $xl) {
//   .container {
//     max-width: 760px;
//   }
// }
