/*=====  Font Sizes =====*/
/*=======================*/
$text-sm: 0.75rem;
$text-regular: 1rem;
$text-md: 1.5rem;
$text-lg: 2.25rem;
$text-xl: 3rem;

/*=====  Colors =====*/
/*===================*/
$black: #323232;
$dk-blue: #003869;
$blue: #0075aa;
$lt-blue: #0094c3;
$green: #439a3b;
$pink: #930e76;
$dk-orange: #c1402c;
$lt-orange: #c57431;

/*=====  BreakPoints =====*/
/*========================*/
$xs: 426px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

/*=====  Spacing =====*/
/*====================*/
$space-xxs: 6px;
$space-xs: 12px;
$space-sm: 20px;
$space-md: 32px;
$space-lg: 40px;
$space-xl: 60px;
$space-xxl: 100px;
